# Node modules (dependencies)
node_modules/

# Uploaded files
uploads/

# Environment variables
.env


# System files
.DS_Store
Thumbs.db

*.pth

# Optional: Ignore build artifacts
dist/
build/
"*.pth" 
